.formContainer {
    max-width: 826px;
    padding-top: 10vh;
    align-content: center;  
    margin: 0 auto;
  }
  
  .NavLink {
    background-color: var(--greyBlue);
    font-size: 16px;
    font-weight: 700;
    border: 1px solid black;
    padding: 11px 47px 11px 47px;
    text-decoration: none;
    flex: auto;
    color: white;
    text-align: center;
}

.activeNavLink {
    text-align: center;
      color: black;
    background-color: var(--red);
    font-weight: 900;
    border: 1px solid #000000;
    padding: 11px 47px 11px 47px;
    text-decoration: none;
    flex: auto;
}

nav {
    display: flex;
}

.formOutlet {
    background-color: var(--lightBlue);
    padding: 26px 30px 18px 30px;
    border: 1px solid #000000;
  }
  