.cardContainer {
  height: 200px;
  width: 100%;
  position: relative;
  overflow: visible;
}

.picture img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.header {
    font-size: 25px;
    /* text-align: center; */
    position: absolute;
    top: -30%;
    bottom: 0;
    left: 0;
    right: 0;
    /* height: fit-content; */
    margin: auto;
    border: 1px solid;
    border-radius: 25px;
    padding: 3px 10px 3px 10px;
    background-color: white;
    display: inline-table;
    font-weight: 500;
}
