.heroBanner {
    min-height: 490px;
    background-image: url("../../imgs/hero3.jpg");
    background-size: cover;
    display: flex;
    flex-shrink: 0;
  }
  
  .heroBannerContent {
    margin: auto;
    /* display: flex;
    flex-direction: column; */
  }
  
  .heroBanner h1 {
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 29px;
    color: white;
  }

  .heroBannerContent {
    text-align: center;

  }
  
  /* .heroBannerContent button {
    display: block;
    margin: auto;
  }
   */