.header {
  display: flex;
  justify-content: space-between;
  padding: 15px 20px;
  color: white;
  align-items: center;
}

.logo {
  height: 57px;
}

.myPlaces {
  font-size: 19px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--blue);
}
